{% extends 'base.html' %}
{% load humanize %}

{% block bienvenido %}Bienvenido a TomBank{% endblock %}
{% block styles %}
    <style>
        .chip-err {
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #dc143c;
            color: #ffffff;
            box-shadow: #585858 1px 2px 2px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="pay-card">
        <br>
        <br>
        <span>El ID de la transacción es: <strong>$ {{ transaccion.id }}</strong></span>
        <br>
        <br>
        <span>El monto a pagar es por: <strong>$ {{ transaccion.monto|intcomma }}</strong></span>
        <br>
        <br>
        <span>Tiempo para realizar el pago: <strong id="tiempo-restante"></strong></span>
        <br>
        <br>
        {% if form.non_field_errors %}
            <span class="chip-err">{{ form.non_field_errors.0 }}</span>
            <br>
            <br>
        {% endif %}
        <form method="post" action="{% url 'realizar_pago' transaccion.id %}" autocomplete="off">
            Ingrese los datos de su tarjeta para realzar el pago
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                        <td style="color: #dc143c">{{ field.errors.0 }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br><br>
            <input type="submit" value="Realizar pago">
        </form>
    </div>
{% endblock %}
{% block sctipts %}
    <script>
        let segundosRestantes = {{ transaccion.segundos_restantes }};
        const tiempoRestante = document.getElementById('tiempo-restante');

        const setTiempo = () => {
            const minutos = `0${parseInt(segundosRestantes / 60)}`.slice(-2);
            const segundos = `0${segundosRestantes > 0 ? segundosRestantes % 60 : 0}`.slice(-2);
            const separador = segundosRestantes % 2 ? ' ' : ':';
            tiempoRestante.innerText = `${minutos}${separador}${segundos}`;
        };
        setTiempo();
        const intervalTiempoRestanteId = setInterval(() => {
            segundosRestantes--;
            setTiempo();
            if (segundosRestantes < -2) {
                window.location.href = `${window.location.href}?timeout=true`;
            }
        }, 1000);

    </script>
{% endblock %}
